@tailwind base;
@tailwind components;
@tailwind utilities; 

#footer img{
    width: 2.5rem;
}

figure img{
    width: 100px;
    align-self: center;
}

figure{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#splashScreen{
    animation: splashScreen 2s linear forwards;
}
@keyframes splashScreen{
    0%, 90%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}

#projectCardHolder img{
    width: 200px;
    height: 200px;
}